.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
  }
  
  .header-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .header button:hover {
    background-color: #777;
  }
  